.DS_Store
.vscode/
map/generated_map.txt
.dSYM
ai/bfs_escape.dSYM
ai/bfs_escape
ai/SA
ai/genetic_map
ai/SA.dSYM/
__pycache__/
# LaTeX temporary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv

# Python temporary files
__pycache__/
*.pyc

# VS Code settings, optional
.vscode/

# C++ build files
*.exe
*.o
*.obj
*.out
